<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>demo test</title>
  </head>
  <body>
   	<h1 align="center">用户注册</h1>
   	<form action="index.php?a=2" method="post">
   		<table width="500" cellpadding="10" cellspacing="0" border="1">
   			<tr>
   				<td>用户名</td>
   				<td><input type="text" name="username"></td>
   			</tr>
   			<tr>
   				<td>密码</td>
   				<td><input type="password" name="password"></td>
   			</tr>
   			<tr>
   				<td>&nbsp;</td>
   				<td><input type="submit" value="免费注册" /></td>
   			</tr>
   		</table>
   	</form>
  </body>
</html>