<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>demo test</title>
    <link rel="stylesheet" href="{$path}/styles/global.css" />
  </head>
  <body>
  	<div id="container">  		
  		<h1 class="subject">第二版</h1>
	   	<p><a href="{$path}/b/users/c/addUser" target="_blank">用户注册</a></p>
	   	<p><a href="{$path}/b/users/c/listUser" target="_blank">用户列表</a></p>
	   	<p><a href="{$path}/b/news/c/addNews" target="_blank">发布新闻</a></p>
	   	<p><a href="{$path}/b/news/c/listNews" target="_blank">新闻列表</a></p>
   	</div>
  </body>
</html>




